<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="description" content="時事ネタから近所のうわさ話まで、なんでも書いちゃおう！" />
<meta name="Keywords" content="掲示板" />
<title>かきまりについて│無責任書き込みサイト◎CAKIMARI◎かきまり</title>
<link rel="shortcut icon" href="../../sushi-masa.info/favicon.ico" />
<link href="cmn/css/layout.css" rel="stylesheet" type="text/css" media="all" />
<link href="cmn/css/contents.css" rel="stylesheet"  />
<link rel="stylesheet" href="cmn/css/style1.css" type="text/css" id="jstyle" />
<script language="javascript" type="text/javascript" src="cmn/js/jquery-1.8.3.min.js"></script>
<script language="javascript" type="text/javascript" src="cmn/js/jquery.cookie.js"></script>
<script language="javascript" type="text/javascript" src="cmn/js/jquery.formtips.1.2.6.min.js"></script>
<script language="javascript" type="text/javascript" src="cmn/js/common.js"></script>
</head>
<body>
<div id="Body">
	<!--▼▼ヘッダ▼▼-->
	<div id="Header">
		<p><a href="index.html"><img src="cmn/img/rogo.gif" width="235" height="28" alt="cakimari" /></a>&nbsp;かんたん書き込み リアルビューBBS</p>
		<dl>
			<dt>カラー選択</dt>
			<dd>
				<ul>
					<li class="Gray"><a onclick="jstyle('cmn/css/style1.css')">グレー</a></li>
					<li class="Black"><a onclick="jstyle('cmn/css/style2.css')">ブラック</a></li>
					<li class="White"><a onclick="jstyle('cmn/css/style3.css')">ホワイト</a></li>
				</ul>
			</dd>
		</dl>
	</div>
	<!--▲▲ヘッダ▲▲-->
	<!--▼▼コンテンツ▼▼-->
	<div id="Contents" class="clearfix">
		<!--▼左-->
		<div id="C_Left">
			<!--▽-->
			<div id="L_Text">
				<h1>かきまりについて</h1>
				<h2>リアルタイムビューBBS　かんたん書き込みCAKIMARI</h2>
				<p>CAKIMARI（かきまり）は誰でも簡単に利用できる匿名掲示板です。<br />
				登録不要でコメントの投稿、トピックの作成ができます。<br />
				投稿したコメントは新しいコメントが投稿されると消えます。（※13コメント以降）</p>
				<h3>使い方</h3>
				<dl>
					<dt>コメントの投稿</dt>
					<dd>「コメント」から投稿、または空いているグリッドから直接投稿できます。</dd>
				</dl>
				<dl>
					<dt>トピックの作成</dt>
					<dd>「トピックを作る」から作れます。</dd>
				</dl>
				<dl>
					<dt>お問い合わせ・広告掲載</dt>
					<dd>comment@cakimari.com</dd>
				</dl>
				<h3>著作権</h3>
				<ul>
					<li>CAKIMARI（以下、当ウェブサイト）はCAKIMARI運営会（以下、当会）または、その代理人が運営しています。</li>
					<li>当ウェブサイトが公開する文書、イラスト、プログラム等すべての内容に関する権利は、当会に帰属します。</li>
					<li>商標法権そのほか法律により認められる場合を除き、無断で転載、引用、複製することは禁じられています。</li>
				</ul>
				<h3>免責事項</h3>
				<ul>
					<li>当会は、当ウェブサイトに掲載する情報に関して、もしくは当サイトを利用することにより被ったトラブルや損失に対し、責任を負うものではありません。</li>
					<li>当会は、当ウェブサイトの構成、利用条件、URL およびコンテンツなどを、予告なしに変更または削除する場合があります。</li>
					<li>他ウェブサイトへのリンクについては、リンク先のページの内容を保証するものではありません。当ウェブサイトに対してリンクを張っている他のサイトの内容についても、責任を負うものではありません。</li>
				</ul>
				<h3>禁止事項</h3>
				<ul>
					<li>ほかの利用者、第三者、もしくは当会に迷惑、不利益、損害を与える行為、またはそのおそれのある行為。</li>
					<li>公序良俗に反する行為、またはそのおそれのある行為。</li>
					<li>法律、法令もしくは条令に違反する行為、またはそのおそれのある行為。</li>
					<li>そのほか、当会が不適切と判断する行為</li>
				</ul>
			</div>
			<!--△-->
			<!--▽AD--
			<ul id="Left_AD">
				<li><img src="cmn/img/ad02.gif" width="700" height="133" alt="" /></li>
				<li><img src="cmn/img/ad02.gif" width="700" height="133" alt="" /></li>
				<li><img src="cmn/img/ad02.gif" width="700" height="133" alt="" /></li>
			</ul>
			<!--△AD-->
		</div>
		<!--▲左-->
		<!--▼右-->
		<div id="C_Right">
			<!--▽AD--
			<ul id="Right_AD">
				<li><img src="cmn/img/ad01.jpg" width="420" height="289" alt="" /></li>
			</ul>
			<!--△AD-->
			<form action="***" method="get" id="Search">
				<input name="topic" title="トピックを検索" type="text" size="30" class="Text" />
				<input type="image" src="cmn/img/search.gif" name="Submit" value="検索" title="検索" class="Submit" />
			</form>
			<!--▽板リスト-->
			<div class="R_List">
				<ul>
					<li><a href="#">[これで決定!?]サイト名を考える[酒] (654)</a></li>
					<li><a href="#">稲コン板♪ (10)</a></li>
					<li><a href="#">よし、今日は酒を我慢しよう！←できるのか… (16)</a></li>
					<li><a href="#">テストトピック2 (45)</a></li>
					<li><a href="#">顔サイズの巨大ドブガイ発見　 高崎・酒井… (7)</a></li>
					<li><a href="#">クマに襲われたら木に登れというのはウソ… (3)</a></li>
					<li><a href="#">一句 (10)</a></li>
					<li><a href="#">酔ってるときにコメントしてみましょう (18)</a></li>
					<li><a href="#">ＮＹ円、９９円近辺 (8)</a></li>
					<li><a href="#">古墳スイーツで岡山ＰＲ　山陽女子高生が… (8)</a></li>
					<li><a href="#">天王池一面緑色に　浮草の仲間が繁殖-紀伊民報浮草-紀報… (4)</a></li>
					<li><a href="#">キリンの赤ちゃん誕生　京都市動物園-京都… (7)</a></li>
					<li><a href="#">カニ殻と微生物併用で米作りに効果　福井… (6)</a></li>
					<li><a href="#">ユニット「Ｏｔａｎ４３」結成へ　 一緒に… (4)</a></li>
					<li><a href="#">無人ロボで田植え　つくば、中央農研が実… (4)</a></li>
					<li><a href="#">酔ってるときにコメントしてみよう！したら楽しいかもよ… (18)</a></li>
					<li><a href="#">ＮＹ円、９９円近辺 (8)</a></li>
					<li><a href="#">古墳スイーツで岡山ＰＲ　山陽… (8)</a></li>
					<li><a href="#">天王池一面緑色に　浮草の仲間が繁殖-紀伊… (4)</a></li>
					<li><a href="#">キリンの赤ちゃん誕生　京都市動物園-京都… (7)</a></li>
					<li><a href="#">カニ殻と微生物併用で米作りに効果　福井… (6)</a></li>
					<li><a href="#">ユニット「Ｏｔａｎ４３」結成へ　 一緒に… (4)</a></li>
					<li><a href="#">無人ロボで田植え　つくば、中央農研が実… (4)</a></li>
				</ul>
				<p><a href="#">&lt;</a>　<a href="#"><strong>1</strong></a>　<a href="#">2</a>　<a href="#">3</a>　<a href="#">4</a>　<a href="#">5</a>　<a href="#">&gt;</a></p>
				<p><a href="#">トピックを作る</a></p>
			</div>
			<!--△板リスト-->
		</div>
		<!--▲右-->
		<!--▼フッタ-->
		<div id="Footer" class="clearfix">
			<p>Copyright(c) Cakimari All rights reserved.</p>
			<ul><!--
				--><li><a href="about.html">かきまりについて</a></li><!--
				<!--<li><a href="#">プライバシーと利用規約</a></li>
				<li><a href="#">広告</a></li>-->
			</ul>
		</div>
		<!--▲フッタ-->
	</div>
	<!--▲▲コンテンツ▲▲-->
</div>
</body>
</html>
